@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Space+Grotesk:wght@300;400;500;600&display=swap");

body {
	font-family: "Inter", sans-serif !important;
	/*font-family: "Space Grotesk", sans-serif !important;*/
}

.copy {
	font-family: "Space Grotesk", sans-serif !important;
	font-weight: 600;
}

.img-con {
	overflow: hidden;
}

.product-img {
	background-size: cover;
	background-position: top;
	width: 100%;
}

.cart-no {
	background: #805ad5;
	border-radius: 100px;
	color: white;
	font-size: 12px;
	width: 1rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	position: absolute;
	right: -2px;
	top: -3px;
}

nav {
	display: flex;
	justify-content: space-between;
	font-family: "Space Grotesk", sans-serif !important;
}

.product:hover {
	transform: scale(1.05);
	transition: 0.2s ease-in-out;
}

nav a:hover {
	text-decoration: underline;
	transition: 2s ease-in;
	color: purple !important;
}

.logout-btn:hover {
	color: indianred !important;
}
