@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&family=Space+Grotesk:wght@300;400;500;600&display=swap");

body {
	font-family: "Inter", sans-serif !important;
	/*font-family: "Space Grotesk", sans-serif !important;*/
}

#banner {
	width: 100%;
	height: 700px;
	background-size: cover;
	background-image: url(./assets/nike.jpg);
}

.copy {
	font-family: "Space Grotesk", sans-serif !important;
	font-weight: 600;
}

.cart-no {
	background: #805ad5;
	border-radius: 100px;
	color: white;
	font-size: 12px;
	width: 1rem;
	height: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px;
	position: absolute;
	right: -2px;
	top: -3px;
}

input[type="radio"] {
	appearance: none;
}

nav {
	display: flex;
	justify-content: space-between;
	padding: 2rem 6rem;
}

nav > * {
	margin: 0 0 0 4rem;
}

.product:hover {
	transform: scale(1.05);
	transition: 0.2s ease-in-out;
}

.nav-item > * {
	margin: 0 1rem;
}
